html {
        padding: 0;
        margin: 0;
        background-color: #FFF;
    }
    
    body {
        font-family: Helvetica, sans-serif;
        background-color: #305782;
        font-size: 93%;
        line-height: 1.5em;
        padding: 0;
        margin: 0;
    }

    footer {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
    }
    
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
    
    .main-content {
        padding: 20px;
    }
    
    .page-header {
        background-color: #FFF;
        padding: 30px 20px;
        color: #305782;
    }
    
    .page-header-inner {
        padding: 0 20px;
    }
    
    .page-header h1 {
        margin: 0;
    }
    
    /* Nav Menu */
    div.nav-menu {
        background-color: #e7ecf2;
        padding: 0 20px;
    }
    
    div.nav-menu ul {
        margin: 0;
        padding: 0;
    }
    
    div.nav-menu ul li {
        list-style: none;
        float: left;
    }
    
    div.nav-menu ul li a:link,
    div.nav-menu ul li a:visited {
        display: block;
        font-size: 90%;
        padding: 10px 25px 10px 0;
        color: #305782;
        text-decoration: none;
        font-weight: bold;
    }
    
    .menu-trigger {
        display: none;
    }
    
    @media screen and (max-width: 480px) {
        
        .menu-trigger {
            display: block;
            color: #305782;
            background-color: #d5dce4;
            padding: 10px;
            text-align: right;
            font-size: 83%;
            cursor: pointer;
        }
        
        div.nav-menu {
            display: none;
        }
        div.nav-expanded {
            display: block;
        }
        div.nav-menu ul li {
            float: none;
            border-bottom: 2px solid #d5dce4;
        }
        div.nav-menu ul li:last-child {
            border-bottom: none;
        }
    }

.menu-trigger {
    display: none;
}

@media screen and (max-width: 480px) {
    .menu-trigger {
        display: block;
    }

    div.nav-menu {
        display: none;
    }

    div.nav-expanded {
        display: block;
    }

    div.nav-menu ul li {
        float: none;
        border-bottom: 2px solid black;
    }
    div.nav-menu ul li: last-child {
        border-bottom: none;
    }
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }