html {
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    
    #submit-button {
        background: white;
    }

    #trailer-div {
        position: relative;
        width: 100%;
    }

    #trailer-embed {
        position: relative;
        padding-bottom: 56.25%;
    }

    body {
        color: #305782;
        background: url(https://hpshplaidline.files.wordpress.com/2019/03/movies-featured.jpg);
        background-attachment: fixed;
        line-height: 1.5em;
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }

    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h5 {
        color: #FFF;
    }
    
    .container {
        color: #305782;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    #content {
        background: url(https://images.pexels.com/photos/755726/pexels-photo-755726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    }

    #results {
        background: url(https://images.pexels.com/photos/755726/pexels-photo-755726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    }

    #about {
        background: url(https://images.pexels.com/photos/755726/pexels-photo-755726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    }

    .card-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
        height: 200px;
        max-width: 100%;
      }

      .card-rec-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: auto;
      }

      .sugg-head {
          font-weight: bolder;
          font-size: 1.25rem;
      }
    
    .page-header {
        background-color: #FFF;
        padding: 30px 20px;
        color: #FFF;
        font-family: 'Sonsie One', cursive;
    }

    #header {
        background: url(https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        text-align: center;
        color: #FFF;
        font-family: 'Sonsie One', cursive;
    }

    #footer {
        background: url(https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        text-align: center;
        color: #FFF;
        font-family: 'Sonsie One', cursive;
    }

    footer {
        text-align: center;
        color: #FFF;
        margin: 0 auto;
        font-family: 'Sonsie One', cursive;
    }

    .main-content {
        color: #305782;
    }
    
    /* Nav Menu */
    div.nav-menu {
        background-color: #e7ecf2;
        padding: 0 20px;
    }
    
    div.nav-menu ul {
        margin: 0;
        padding: 0;
    }
    
    div.nav-menu ul li {
        list-style: none;
        float: left;
    }
    
    div.nav-menu ul li a:link,
    div.nav-menu ul li a:visited {
        display: block;
        font-size: 90%;
        padding: 10px 25px 10px 0;
        color: #305782;
        text-decoration: none;
        font-weight: bold;
    }
    
    .menu-trigger {
        display: none;
    }
    
    @media screen and (max-width: 480px) {
        
        .menu-trigger {
            display: block;
            color: #305782;
            background-color: #FFF;
            padding: 10px;
            text-align: right;
            font-size: 83%;
            cursor: pointer;
        }
        
        div.nav-menu {
            display: none;
        }
        div.nav-expanded {
            display: block;
        }
        div.nav-menu ul li {
            float: none;
            border-bottom: 2px solid #d5dce4;
        }
        div.nav-menu ul li:last-child {
            border-bottom: none;
        }
    }

.menu-trigger {
    display: none;
}

@media screen and (max-width: 480px) {
    .menu-trigger {
        display: block;
    }

    div.nav-menu {
        display: none;
    }

    div.nav-expanded {
        display: block;
    }

    div.nav-menu, ul, li {
        float: none;
        border-bottom: 2px solid black;
    }
    div.nav-menu, ul, li.last-child {
        border-bottom: none;
    }
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }